<%= tinymce_assets %>
<div class="form_container">
  <div class="left_align_form">
    <%= form_for @recipe do |f| %>
      <% if @recipe.errors.any? %>
        <div>
          <strong> -- All values must be completed -- </strong>
        </div>
      <% end %>
    <div class="new_form">
      <div class= "form_to_center">
        <br>
        <%= f.label :userName, "Submitter",  class: "box_Font" %><br>
        <%= f.text_field :userName, class: "box_control", :maxlength => 60, :size => 60, value: current_user.name %>
        <br><br>
        <%= f.label :name, "Recipe Title", class: "box_Font" %><br>
        <%= f.text_field :name, class: "box_control", :maxlength => 60, :size => 60 %>
      </div> <!--end form_to_center -->
    </div>  <!-- end new_form -->
    
    <ul class= "new_form">
      <div class="form_to_center">
        <li>
          <%= f.label :prime, "Recipe Type",  class: "box_Font" %><br>
          <%= f.select :prime, collection: Recipe::CATEGORY %>
        </li>
        <li>
          <%= f.label :secondary, "Additional Types", Class: "box_Font"  %><br>
          <%= f.select :secondary, collection: Recipe::SECONDARY %>  
        </li>
      </div> <!-- end form_to_center -->
    </ul> <!-- end new_form -->
 
    <ul class="new_form">
      <div class="form_to_center">
        <li>
          <%= f.label :prep, "Preparation Time"  , class: "box_Font" %><br>
          <%= f.number_field :prep, min: 0, :value => @recipe.prep || 0 %>
        </li>
        <li>
          <%= f.label :complete, "Total Time" , class: "box_Font" %><br>
          <%= f.number_field :complete, min: 0, :value => @recipe.complete || 0 %>
        </li>
      </div> <!-- end form_to_center -->
    </ul> <!-- end new_form -->
  </div> <!-- end left_align_form -->
  <!--</div> --> 
  <div>
    <ul class= "new_form_2">
      <li>
        <%= f.label :ingredients, "Ingredients ", class: "box_Font"%> <br>
        <%= f.text_area :ingredients,  :class => "tinymce" %>
      </li>
      <li>
        <%= f.label :directions, "Directions     ", class: "box_Font" %><br>
        <%= f.text_area :directions, placeholder: "Directions", :class => "tinymce"%>
      </li>
    </ul>
      <br>
  </div>
  <%= f.submit "Add a Recipe" %>
    <% end %>
</div>
<%= tinymce %>
